{%extends "base.html"%}
{%load plotly_dash%}

{%block title%}Demo One - Simple Embedding{%endblock%}

{%block content%}
<h1>Simple App Embedding</h1>
<div class="card bg-light border-dark" style="width:100%">
  <div class="card-body" style="width:100%">
    <p><span>{</span>% load plotly_dash %}</p>
    <p>&lt;div class="<span>{</span>% plotly_class name="SimpleExample"%}">
    <p class="ml-3"><span>{</span>% plotly_app name="SimpleExample" %}</p>
    <p>&lt;\div>
  </div>
</div>
<p></p>
<div class="card border-dark" style="width:100%">
  <div class="card-body" style="width:100%">
    <div class="{%plotly_class name="SimpleExample"%}" style="width:100%">
      {%plotly_app name="SimpleExample"%}
    </div>
  </div>
</div>
<p></p>
{%endblock%}
